{% extends 'courses/layout.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2>Create new event</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ formset.management_form }}
        {% csrf_token %}
        {% for form in formset %}
        <div class="form-group row">
            <div class="col-md-8">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Task name:</label>
                {{ form.name|add_class:"form-control" }}
            </div>
            <div class="col-md-4">
                {{ form.max_points.errors }}
                <label for="{{ form.max_points.id_for_label }}">Max points:</label>
                {{ form.max_points|add_class:"form-control" }}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}