{% extends 'courses/layout.html' %}

{% block content %}
    {% if not user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
<h2>Courses: </h2>
<div class="row mt-3">
    <div class="col">
        <ul class="list-group">
            {% if user.teacher %}
                <li class="list-group-item">
                    <a href="/courses/createCourse" class="btn btn-primary">Create course</a>
                </li>
            {% endif %}

        <h4>Search parameters: </h4>
         <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="name_contains" placeholder="Course name contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="description" placeholder="Description contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>

             <div class="form-group col-md-4">
            <label for="teacher">Tutor</label>
            <select id="teacher" class="form-control" name="teacher">
              <option selected>Choose...</option>
              {% for teacher in teachers %}
              <option value="{{ teacher.user_id }}">{{ teacher  }}</option>
              {% endfor %}
            </select>
          </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
        <h2>Courses: </h2>
            {% if courses %}
          {% for course in filter.qs %}
            <a href="/courses/{{ course.id }}" class="text-decoration-none text-dark">
                <div class="row">
                    <div class="col-10">{{ course.name }}</div>
                    <div class="col-2 text-secondary text-right">seats: {{ course.seats_count }}</div>
                </div>
            </a>
          {% endfor %}
        {% for course in courses %}
        <li class="list-group-item">
            <a href="/courses/{{ course.id }}" class="text-decoration-none text-dark">
                <div class="row">
                    <div class="col-10">{{ course.name }}</div>
                    <div class="col-2 text-secondary text-right">seats: {{ course.seats_count }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No such courses are available</p>
    {% endif %}
    </div>
</div>
    {%  endif %}
{% endblock %}