{% extends 'courses/layout.html' %}

{% block content %}
    {% if not user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
<h2>Courses: </h2>
<div class="row mt-3">
    <div class="col">
    {% if courses %}
        <ul class="list-group">
        {% for course in courses %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-10">{{ course.name }}</div>
                    <div class="col-2 text-secondary text-right">seats: {{ course.seats_count }}</div>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No courses are available</p>
    {% endif %}
    </div>
</div>
    {%  endif %}
{% endblock %}